<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Pokemon</title>
    <link type="text/css" rel="stylesheet" href="pokemon.css">
</head>
<body>
<div id="outerDiv">
    <div id="menu" class="mainDivs">
        <form id="filters">
            <input type="text" placeholder="search" id="search" ng-model="search"><br/><br/><br/>
            <p>Order by</p>
            <input type="button" value="name" name="type" class="button" ng-click="orderByMe('name')">
            <input type="button" value="id" name="id" class="button" ng-click="orderByMe('id')">


        </form>

        <div id="pokemonProps">

        </div>
    </div>


    <div id="content" class="mainDivs" ng-controller="pokemonsController">
        <img src="banner.jpg" id="headerPicture">

        <div class="flex-container">
            <div class="flex-item" ng-repeat="poke in pokemons | orderBy : myOrderBy | filter : search"
                 style="background-image: url({{getPokeImgUrl(poke.url)}});
                 background-repeat: no-repeat;
                 text-transform: capitalize;
                 background-position: center; ">

                {{ poke.name  }}

            </div>
        </div>

    </div>

    <script src="angular.js"></script>
    <script src="pokemon.js"></script>
</body>
</html>