.mainDivs{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: stretch;
    

}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#menu{
    background-color: #393939;
    width: 30%;

}

#content{
    background-color: lightgray;
    width: auto;

}