.mainDivs{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: stretch;
    

}

#menu{
    background-color: #393939;
    width: 30%;

}

#content{
    background-color: lightgray;
    width: auto;

}